.form{
    background: #FFFFFF;
    box-shadow: 0px 4px 29px #F0F3FF;
    border-radius: 35px;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    font-weight: 300;
}
.form div div {
    align-content: center;
}

.form div div p{
    width: 187px;
    text-align: center;
    background-color: red;
    align-content: center;
}
.form input{
    width: 283px;
    height: 53px;
    background: #F1F3FD;
    border-radius: 17px;
    border: none;
}

.btns{
    display: flex;
    justify-content: space-evenly;
}
 .btns button {
    width: 88px;
    height: 53px;
    background: #F1F3FD;
    border-radius: 17px;
    border: none;
    margin: -10px 0 0 -10px; 
}

.img-container{
    margin: 0 auto;
    width: fit-content;
}

.imgs{
    position: relative;
}
.img-container h2 {
    text-align: center;
}
.img-2{
    position: absolute;
    right: 100px;
    bottom: -20px;
}

.profile-btn{
    background: #F1F3FD;
    border-radius: 17px;
    width: 53px;
    height: 53px;
    border: none;
}
.profile-area{
    display: flex;
    justify-content: space-between;
    margin: 27px 90px 20px 57px;
}
.profile-area p{ 
    font-size: 16px;
}
.logout-area{
    display: flex;
    justify-content: center;  
    margin-bottom: 44px;
}
.logout-area button{
    height: 26px;
    font-weight: 400;
    font-size: 17px;
    background-color: white;
    color: #ACB7EB;
    border: none;
    margin-left: 15px;
}
