.form{
    background: #FFFFFF;
    box-shadow: 0px 4px 29px #F0F3FF;
    border-radius: 35px;
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    font-weight: 300;
}
.form div div {
    align-content: center;
}

.form div div p{
    width: 187px;
    text-align: center;
    background-color: red;
    align-content: center;
}
.form input{
    width: 283px;
    height: 53px;
    background: #F1F3FD;
    border-radius: 17px;
    border: none;
}

.btns{
    display: flex;
    justify-content: space-evenly;
}
.btns button {
    width: 88px;
    height: 53px;
    background: #F1F3FD;
    border-radius: 17px;
    border: none;
}
.imgs{
    position: relative;
}
.img-2{
    position: relative;
    right: 140px;
    bottom: -20px;
}