.nav{
    display: flex;
    background: #333333;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px
}
.nav div{
    display: flex;
    align-items: center;
    color: white;
}
.nav div img{
    margin-left: 10px;
}